- content_for :head do 
  = javascript_include_tag 'callipers'
%h2 Quotes
- form_for @search, :url => organisation_quotes_path(@organisation), :html => {:id => 'quote_search'} do |f|
  %table
    %tr.odd
      %th
        %label Customer
      %td{:colspan => 3}= @organisation.name
    %tr.even
      %th
        %label Search for
      %td{:colspan => 3}
        = f.radio_button :creator_id, current_user.id
        %label My Orders/Quotes
        = f.radio_button :creator_id, ''
        %label Company  Orders/Quotes
    %tr.odd
      %th
        %label Quotes or Orders
      %td{:colspan => 3}
        = f.radio_button :type_equals, ""
        %label Both
        = f.radio_button :type_equals, 'Quote'
        %label Quotes
        = f.radio_button :type_equals, 'Order'
        %label Orders
    %tr.even
      %th
        %label Customer Ref
      %td{:colspan => 3}= f.text_field :your_ref_contains
    %tr.odd
      %th
        %label Cello Ref
      %td{:colspan => 3}= f.text_field :id_equals
    %tr.even
      %th
        %label Grade
      %td{:colspan => 3}= f.collection_select :grade_abbrev_equals, Grade.all, :grade_abbrev, :name, {:include_blank => "--Please Select--"}, :id => 'quote_grade_abbrev'
    %tr.odd  
      %th
        %label Calliper
      %td{:colspan => 3}= f.collection_select :calliper_equals, Grade.callipers_for_abbrev(f.object.grade_abbrev_equals), :calliper, :calliper, {:include_blank => 'Please Select'}, :id => 'quote_calliper'
    %tr.even
      %th
        %label No of sheets
      %td{:colspan => 3}= f.text_field :sheets_equals
    %tr.odd
      %th
        %label Width (mm)
      %td= f.text_field :width_equals
      %th
        %label Length (mm)
      %td= f.text_field :length_equals
    %tr.even
      %th
        %label Notes
      %td{:colspan => 3}= f.text_area :notes_contains
  =link_to 'Download to Excel', params.merge(:format => 'xls'), :class => 'excel' if @quotes && @quotes.present?
  = submit_tag "Search"
- if @quotes && @quotes.empty?
  .no_results
    %h3 No Matching Records
    %p No records match your search criteria
- elsif @quotes
  %table.quotes
    %tr 
      %th ID
      %th Organisation
      %th Created By
      %th Created
      %th Your Ref
      %th Grade
      %th Width
      %th Length
      %th Calliper
      %th GSM
      %th No. of Sheets
      %th Price
      %th Notes
      %th Details
    - @quotes.each do |quote|
      %tr{:class => cycle('odd','even')}
        %td= h quote.id
        %td= h quote.organisation_name
        %td= h quote.creator_name
        %td= h quote.created_on
        %td= h quote.your_ref
        %td= h quote.grade_name
        %td= h quote.width
        %td= h quote.length
        %td= h quote.calliper
        %td= h quote.gsm
        %td= h quote.sheets
        %td= number_to_currency(quote.price_per_1000_sheets_including_surcharge)
        %td= h quote.notes
        - if quote.is_a? Quote
          %td= link_to "Quote Details", new_quote_order_path(quote)
        - else
          %td= link_to "Order Details", quote
  = will_paginate @quotes, :seperator => ' | '