- content_for :head do 
  = javascript_include_tag 'callipers'
%h2 Quotes
- form_for @search, :url => organisation_quotes_path(@organisation) do |f|
  %table
    %tr.odd
      %td Customer
      %td= @organisation.name
    %tr.even
      %td Search for
      %td
        = f.radio_button :creator_id, current_user.id
        My Orders/Quotes
        = f.radio_button :creator_id, ''
        Company  Orders/Quotes
    %tr.odd
      %td Quotes or Orders
      %td
        = f.radio_button :type_equals, ""
        Both
        = f.radio_button :type_equals, 'Quote'
        Quotes
        = f.radio_button :type_equals, 'Order'
        Orders
    %tr.even
      %td Customer Ref:
      %td= f.text_field :your_ref_contains
      %td Cello Ref
      %td= f.text_field :id_equals
      %td Notes
    %tr.odd
      %td Grade:
      %td= f.collection_select :grade_abbrev_equals, Grade.all, :grade_abbrev, :name, {:include_blank => "--Please Select--"}, :id => 'quote_grade_abbrev'
      %td Calliper:
      %td= f.collection_select :calliper_equals, Grade.callipers_for_abbrev(f.object.grade_abbrev_equals), :calliper, :calliper, {:include_blank => 'Please Select'}, :id => 'quote_calliper'
      %td{:rowspan => 3}= f.text_area :notes_contains
    %tr.even
      %td No of sheets
      %td= f.text_field :sheets_equals
      %td
      %td
    %tr.odd
      %td Width
      %td
        = f.text_field :width_equals
        mm
      %td Length
      %td
        = f.text_field :length_equals
        mm
  = submit_tag "Search"
%table
  %tr 
    %th ID
    %th Organsiation
    %th Created By
    %th Created
    %th Your Ref
    %th Grade
    %th Width
    %th Length
    %th Calliper
    %th GSM
    %th No. of Sheets
    %th Price
    %th Notes
    %th Details
  - @quotes.each do |quote|
    %tr{:class => cycle('odd','even')}
      %td= h quote.id
      %td= h quote.organisation_name
      %td= h quote.creator_name
      %td= h quote.created_on
      %td= h quote.your_ref
      %td= h quote.grade_name
      %td= h quote.width
      %td= h quote.length
      %td= h quote.calliper
      %td= h quote.gsm
      %td= h quote.sheets
      %td= number_to_currency(quote.price)
      %td= h quote.notes
      %td= link_to "#{quote.type} Details", quote
= will_paginate @quotes, :seperator => ' | '