- content_for :head do 
  = javascript_include_tag 'callipers'
%h2 Quotes
- unless @organisation
  %h3 Create Quote - Cello
  %p Please select a customer
  - form_tag new_quote_path,:method => 'get', :id => "customer_select" do
    = text_field_tag :customer_name
    = collection_select :customer, :name, Organisation.all(:order => 'name'), :id, :name, {:prompt => '---Please Select---'}, :multiple => true
    = submit_tag 'Submit'
  %p.clear This calculator is designed to provide indicative pricing for cello board orders. Pricing is subject to confirmation at time of ordering, and stock availability. Prices excludes GST.
- else
  - form_for [@organisation, @quote] do |f|
    %h3 Create Quote
    %table
      %tr
        %td= f.label :organisation, 'Customer'
        %td= h f.object.organisation_name
      %tr.odd
        %td= f.label :grade_abbrev, "Grade"
        %td= f.collection_select :grade_abbrev, Grade.all, :grade_abbrev, :name, :prompt => '--Please Select--'
      %tr.even
        %td= f.label :calliper
        %td= f.collection_select :calliper, f.object.calliper_options, :calliper, :calliper_with_units
      %tr.odd
        %td= f.label :sheets, "Number of sheets"
        %td= f.text_field :sheets
      %tr.even
        %td= f.label :width
        %td
          = f.text_field :width
          mm
      %tr.odd
        %td= f.label :length
        %td
          = f.text_field :length
          mm
      %tr
        %td
        %td
      %tr.even
        %td Grain
        %td Long
      %tr.odd
        %td Ex reels
        %td
          = @quote.ex_reels
          mm
      %tr.even
        %td Gross Weight
        %td
          = @quote.gross_weight
          kg
      %tr.odd
        %td Date Created
        %td= f.object.created_date
      %tr.even
        %td Cost / 1000
        %td 
          %span.cost= number_to_currency @quote.price_per_1000_sheets
          per 1,000 sheets + GST
          = submit_tag 'Calculate'
      %tr.odd
        %td Setup Surcharge
        %td
      %tr
        %td= f.label :notes
        %td= f.text_area :notes
    %input{:type => 'reset', :value => 'Reset Form'}
    %p This calculator is designed to provide indicative pricing for cello board orders. Pricing is subject to confirmation at time of ordering, and stock availability. Prices excludes GST.

      