%p Please complete your personal details in the form below.
- form_for :profile, :url => profile_path, :html => {:method => :put} do |f|
  %table
    %tr
      %th Update Myself
      %th
    %tr
      %td= f.label :first_name
      %td= f.text_field :first_name
    %tr
      %td= f.label :last_name
      %td= f.text_field :last_name
    %tr
      %td= f.label :username
      %td= f.text_field :username
    %tr
      %td= f.label :new_password, "Password"
      %td= f.password_field :new_password
    %tr
      %td= f.label :new_password_confirmation, "Re-enter Password"
      %td= f.password_field :new_password_confirmation
    %tr
      %td= f.label :passwordhint, "Password Hint"
      %td= f.text_field :passwordhint
    %tr
      %td= f.label :email
      %td= f.text_field :email
    %tr
      %td= f.label :addr1, "Address 1"
      %td= f.text_field :addr1
    %tr
      %td= f.label :addr2, "Address 2"
      %td= f.text_field :addr2
    %tr
      %td= f.label :addr1, "Address 3"
      %td= f.text_field :addr3
    %tr
      %td= f.label :city
      %td= f.text_field :city
    %tr
      %td= f.label :state
      %td= f.text_field :state
    %tr
      %td= f.label :postcode
      %td= f.text_field :postcode
    %tr
      %td= f.label :country
      %td= f.text_field :country
    %tr
      %td= f.label :phone
      %td= f.text_field :phone
    %tr
      %td= f.label :fax
      %td= f.text_field :fax
    %tr
      %td= f.label :mobile
      %td= f.text_field :mobile
    %tr
      %td
      %td= f.submit 'Update Myself'