%h2 Contact Cello
%h3 Cello Sales Desk
%label Phone:
1300 65 45 25
%br
%label Fax:
1300 65 45 15
%br
%label Email:
sales@cello.com.au
%h3 Your account representative
= @rep.full_name
%br
%label Phone:
= @rep.phone
%br
%label Fax:
= @rep.fax
%br
%label Mob:
= @rep.mobile
%br
%label Email:
= @rep.email