%h2 Organisations
%table
  %tr
    %th ID
    %th Name
    %th Customer Code
    %th Price Group
    %th Status
    %th
  - @organisations.each do |organisation|
    %tr{:class => cycle('odd','even')}
      %td= organisation.id
      %td= organisation.name
      %td= organisation.customer_code
      %td= organisation.price_group_label
      %td= organisation.status_label
      %td
        = link_to 'Edit', [:edit, organisation]
= link_to 'New', new_organisation_path