- form_tag new_quote_path,:method => 'get', :id => "customer_select" do

  %h2= @heading || "Quote"
  %h3
    = @subheading || (controller.action_name == 'new' ? "Create Quote" : "List Quotes" )
    \- Cello
  %p
    Please select a customer
    = text_field_tag :customer_name
  = collection_select :customer, :name, Organisation.all(:order => 'name'), :id, :name, {:prompt => '---Please Select---'}, :multiple => true
  %p.submit= submit_tag 'Submit'
%p.clear This calculator is designed to provide indicative pricing for cello board orders. Pricing is subject to confirmation at time of ordering, and stock availability. Prices excludes GST.
