%h2 User Management: Edit User
= button_to 'Delete', @user, :method => :delete, :confirm => 'Are you sure you want to delete this user?'
%p Please ament the details below and press 'Update User'
- form_for @user do |f|
  %table
    %tr
      %th User details
      %th
    %tr.odd
      %td= f.label :username
      %td= f.text_field :username
    %tr.even
      %td= f.label :first_name
      %td= f.text_field :first_name
    %tr.odd
      %td= f.label :last_name
      %td= f.text_field :last_name
    %tr.even
      %td= f.label :new_password
      %td= f.password_field :new_password
    %tr.odd
      %td= f.label :new_password_confirmation
      %td= f.password_field :new_password_confirmation
    %tr.even
      %td= f.label :email
      %td= f.text_field :email
    %tr.odd
      %td= f.label :groups
      %td= f.collection_select :role_ids, current_user.roles(:order => "Name"), :id, :Name, {}, :multiple => true
    %tr.even
      %td= f.label :organisation
      %td= f.object.organisation_name
    %tr.odd
      %td= f.label :addr1, "Address 1"
      %td= f.text_field :addr1
    %tr.even
      %td= f.label :addr2, "Address 2"
      %td= f.text_field :addr2
    %tr.odd
      %td= f.label :addr3, "Address 3"
      %td= f.text_field :addr3
    %tr.even
      %td= f.label :phone
      %td= f.text_field :phone
    %tr.odd
      %td= f.label :fax
      %td= f.text_field :fax
    %tr.even
      %td= f.label :mobile
      %td= f.text_field :mobile
    - unless current_user.is_customer?
      %tr.odd
        %td= f.label :cello_rep
        %td= f.check_box :cello_rep
    %tr
      %td
        = f.submit 'Update User'
        %input{:type => 'reset', :value => 'clear'}
      