%h2 New User Account Details
%p.instructions
  Fields marked with 
  %span.required *
  are required fields
- form_for @user do |f|
  %table
    %tr.odd
      %td= f.label :username
      %td
        = f.text_field :username
        *
    %tr.even
      %td= f.label :new_password
      %td
        = f.password_field :new_password
        *
    %tr.odd
      %td= f.label :new_password_confirmation
      %td
        = f.password_field :new_password_confirmation
        *
    %tr.even
      %td= f.label :first_name
      %td
        = f.text_field :first_name
        *
    %tr.odd
      %td= f.label :last_name
      %td
        = f.text_field :last_name
        *
    %tr.even
      %td= f.label :job_title
      %td
        = f.text_field :job_title
        *
    %tr.odd
      %td= f.label :organisation
      %td
        - if current_user.is_customer?
          = current_user.organisation_name
        - else
          = f.collection_select :Organisation, Organisation.all, :id, :name
    %tr.even
      %td= f.label :phone
      %td
        = f.text_field :phone
        *
    %tr.odd
      %td= f.label :email
      %td
        = f.text_field :email
        *
    %tr.even
      %td= f.label :comments
      %td= f.text_area :comments
    %tr
      %td
      %td= f.submit 'Proceed &raquo;'
    