%tr
  %td= value_list_form.id
  %td= value_list_form.text_field :grade, :size => 10
  %td= value_list_form.text_field :grade_abbrev, :size => 10
  %td= value_list_form.text_field :subgrade_abbrev, :size => 20
  %td= value_list_form.text_field :calliper, :size => 10
  %td= value_list_form.text_field :gsm, :size => 10
  %td= value_list_form.text_field :reel_size, :size => 10
  %td
  %td= value_list_form.text_field :sap_code, :size => 10
  %td= value_list_form.text_field :sap_alt_code_1, :size => 10
  %td= value_list_form.text_field :sap_alt_code_2, :size => 10
  %td= value_list_form.actions
