%h2 Loading Reel Data
%p
  = pluralize (@rows_detected, 'row') 
  detected
%p .
%p
  = pluralize (Reel.updated_counter, 'row')
  updated
%p
  = pluralize (Reel.created_counter, 'row')
  created
  
%h2 Cross Check of Product Reels and Pricing Data
%p
  = pluralize (Reel.count, "active Product Reel")
  in the database.
  %br
  = pluralize (Price.count, "active Pricing record")
  in the database.
  
%h3 Unmatched Price Records
%p When matched by Grade, Subgrade Abbreviation, Calliper &amp; GSM, the following Pricing records have no corresponding Product Reel:
%table
  %tr
    %th Grade
    %th Subgrade
    %th Calliper
    %th GSM
  - Price.paper_without_reels.each do |paper|
    %tr{:class => cycle('odd','even')}
      %td= h paper.grade
      %td= h paper.subgrade
      %td= h paper.calliper
      %td= h paper.gsm
%h3 Unmatched Product Reels
%p When matched by Grade, Subgrade Abbreviation, Calliper &amp; GSM, the following Product Reel records have no corresponding Pricing record:
%table
  %tr
    %th Grade
    %th Subgrade
    %th Calliper
    %th GSM
  - Reel.paper_without_prices.each do |paper|
    %tr{:class => cycle('odd','even')}
      %td= h paper.grade
      %td= h paper.subgrade
      %td= h paper.calliper
      %td= h paper.gsm