%h2 View/Add/Edit Pricing Group
%table
  %tr
    %th ID
    %th Grade
    %th Grade ID 
    %th Subgrade
    %th Calliper
    %th GSM
    %th Reel Size
    %th Date Uploaded
    %th SAP Code
    %th Alt SAP code 1
    %th Alt SAP code 2
    %th
  - @reels.each do |reel|
    - if reel == @reel
      - form_for @reel, :builder => ValueListFormBuilder do |form|
        = render form
    - else
      %tr{alt}
        %td= h reel.id
        %td= h reel.grade
        %td= h reel.grade_abbrev
        %td= h reel.subgrade_abbrev
        %td= h reel.calliper
        %td= h reel.gsm
        %td= h reel.reel_size
        %td= h reel.uploaded_on
        %td= h reel.sap_code
        %td= h reel.sap_alt_code_1
        %td= h reel.sap_alt_code_2
        %td
          = link_to 'Edit', [:edit, reel]
          = link_to 'Delete', reel, :method => :delete, :confirm => 'Are you sure you want to delete this pricing?'
  - if !@reel || @reel.new_record?
    - form_for @reel || Reel.new,  :builder => ValueListFormBuilder do |form|
      = render form