- form_for @user_session do |f|
  %h2 Login
  %table
    %tr
      %td= f.label :username, 'user name'
      %td= f.text_field :username
    %tr
      %td= f.label :password, 'password'
      %td= f.password_field :password
    %tr
      %td
      %td
        = f.submit "Login"
        = link_to 'forgotten your password?'