!!!
%html
  %head
    %title Cello Paper
    = stylesheet_link_tag 'application'
  %body
    .header
      %h1 Cello
      .time
        = Time.now.strftime('%m %b %Y CCT:%H:%M %p')
    .main
      = yield
    - if current_user
      .sidebar
        %ul
          - current_user.menu.root_items.each do |menu_item|
            %li
              = h menu_item.label
              - unless menu_item.children.empty?
                %ul
                  - menu_item.children.each do |child|
                    %li
                      - if !child.url
                        = h child.label 
                      - else
                        = link_to h(child.label), instance_eval(&child.url)
          %li= link_to 'Logout', logout_path

    
